<section class="form container">
  <h2>Account settings</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
    <div class="field">
      <%= image_tag url_for(resource.avatar), class: 'user-icon img-lg', alt: 'avatar' %>
      Avatar
      <%= form.file_field :avatar, accept: ".jpg, .jpeg, .png, .gif" %>
    </div>
    <div class="field">
      <%= form.label :first_name %>*<br>
      <%= form.text_field :first_name, autofocus: true, autocomplete: 'email', required: true %>
    </div>
    <div class="field">
      <%= form.label :last_name %>*<br>
      <%= form.text_field :last_name, autofocus: true, autocomplete: 'email', required: true %>
    </div>
    <div class="field">
      <%= form.label :bio %>
      (240 characters maximum) <br>
      <%= form.text_area :bio, autofocus: true, autocomplete: 'bio' %>
    </div>
    <div class="field">
      <%= form.label :email %>*<br>
      <%= form.email_field :email, autofocus: true, autocomplete: 'email', required: true %>
    </div>
    <hr>
    <div class="field">
      <%= form.label :password %>
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> characters minimum)
      <% end %><br>
      <%= form.password_field :password, autocomplete: 'new-password', placeholder: 'Leave blank if you do not want to change it' %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation %><br/>
      <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <hr>
    <div class="field">
      <%= form.label :current_password %>* (Enter your current password to confirm your changes)<br>
      <%= form.password_field :current_password, autocomplete: 'current-password', required: true %>
    </div>
    <div class="actions">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="extra-info">
  Fields marked with * are required fields
  </div>
</section>

<br>

<section class="form container">
  <h2>Cancel my account</h2>
  <p class="subtext">
    Unhappy?
  </p>
  <div class="actions">
    <%= link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-secondary-1' %>
  </div>
</section>
