<section class="form">
  <h2>Account settings</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
    <div class="field">
      <div class="col-sm-4">
        <%= image_tag user_avatar(resource, 300), class: "rounded-circle" %>
      </div>
      <div class="col-sm-8">
        <%= form.file_field :avatar %>
      </div>
    </div>
    <div class="field">
      <%= form.label :email %><br>
      <%= form.email_field :email, autofocus: true, autocomplete: 'email' %>
    </div>
    <hr>
    <div class="field">
      <%= form.label :password %>
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> characters minimum)
      <% end %><br>
      <%= form.password_field :password, autocomplete: 'new-password', placeholder: 'Leave blank if you do not want to change it' %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation %><br/>
      <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
    <hr>
    <div class="field">
      <%= form.label :current_password %> (we need your current password to confirm your changes)<br>
      <%= form.password_field :current_password, autocomplete: 'current-password', required: true %>
    </div>
    <div class="actions">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>

<br>

<section class="form">
  <h2>Cancel my account</h2>
  <p class="subtext">
    Unhappy?
  </p>
  <div class="actions">
    <%= link_to 'Cancel my account', registration_path(resource_name), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-secondary-1' %>
  </div>
</section>
