<section class="form">
  <h2>Join our community!</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
    <div class="field">
      <%= form.label :email %><br>
      <%= form.email_field :email, autofocus: true, autocomplete: 'email', required: true %>
    </div>
    <div class="field">
      <%= form.label :password %>
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> characters minimum)
      <% end %><br>
      <%= form.password_field :password, autocomplete: 'new-password', required: true %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation, autocomplete: 'new-password', required: true %>
    </div>
    <div class="actions">
      <%= form.submit 'Sign Up', class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>
