<section class="admin show">
  <% if @unapproved_users.present? %>
    <h2 class="title-header">Unapproved Users <i class="fas fa-users-slash"></i></h2>
    <p>Below are the users who have signed up but not been approved yet.</p>
    <div class="table-wrapper">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Approve</th>
          </tr>
        </thead>
        <tbody>
          <% @unauthenticated_users.each do |user| %>
            <tr>
              <td>
                <%= user.email %>
              </td>
              <td>
                <%= user.full_name %>
              </td>
              <td class="table-action">
                <%= link_to approve_path(user), method: :put, data: {
                  confirm: "Are you sure you want to approve #{user.full_name}?" } do %>
                  <i class="fas fa-check fa-lg text-success user-icon"></i>
                <% end %>
                |
                <%= link_to reject_path(user), method: :put, data: {
                  confirm: "Are you sure you want to reject #{user.full_name}?" } do %>
                  <i class="fas fa-times fa-lg text-danger user-icon"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <h2 class="title-header">Users <i class="fas fa-users"></i></h2>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Avatar</th>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Profile</th>
          <th scope="col">Admin</th>
        </tr>
      </thead>
      <tbody>
        <% @approved_users.each do |user| %>
          <tr>
            <td>
              <%= link_to user_path(user) do %>
                <%= image_tag url_for(user.avatar), class: 'user-icon img-sm', alt: 'avatar' %>
              <% end %>
            </td>
            <td>
              <%= user.email %>
            </td>
            <td>
              <%= user.full_name %>
            </td>
            <td class="table-action">
              <%= link_to user_path(user), class: 'link-primary' do %>
                <i class="fas fa-address-card"></i>
              <% end %>
            </td>
            <td class="table-action">
              <% if user.admin? %>
                <div class="btn disabled">
                  <i class="fas fa-check text-success user-icon"></i>
                </div>
              <% else %>
                <%= link_to make_admin_path(user), method: :put, data: {
                  confirm: "Are you sure you wish to promote #{user.full_name} to admin?" } do %>
                  <i class="fas fa-times text-danger user-icon"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
