<section class="users show">
  <div class="container">
    <div class="banner"></div>
    <div class="bio">
      <div class="avatar">
        <img class="image" src=<%= @user.avatar %> alt="avatar">
      </div>
      <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
      <p><%= @user.bio %></p>
      <small>Member since <%= @user.created_date %> | Last online <%= @user.last_update_date%> </small>
    </div>
  </div>
  <%= render 'projects/project_cards', projects: current_user.projects.all %>
</section>