<section class="users show">
  <div class="container">
    <div class="banner"></div>
    <div class="bio">
      <div class="avatar">
        <%= image_tag url_for(@user.avatar), class: 'user-icon', alt: 'avatar' %>
      </div>
      <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
      <p><%= @user.bio %></p>
      <p>Member since <%= @user.created_date %> | Last online <%= @user.last_update_date%> </p>
      <div class="stats">
        <span><i class="fas fa-comments"></i> <%= @comments_posted %> posted | <%= @comments_received %> received</span>
        <span><i class="fas fa-thumbs-up"></i> <%= @likes_posted %> posted | <%= @likes_received %> received</span>
      </div>
    </div>
  </div>
  <%= render 'projects/project_card_collection', projects: @user.projects.all %>
</section>