<section class="users show">
  <div class="container">
    <% if @user == current_user %>
      <%= link_to edit_user_registration_path, class: 'edit-profile btn btn-primary' do %>
        Edit Profile <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
    <div class="main-svg"></div>
    <div class="bio">
      <div class="avatar">
        <%= image_tag url_for(@user.avatar), class: 'user-icon img-lg', alt: 'avatar' %>
      </div>
      <h1><%= @user.full_name %></h1>
      <p><%= @user.bio %></p>
      <div class="stats">
        <div class="stats-row">
          <i class="fas fa-comments"></i> 
          <%= "#{@user.comments_posted} comments posted" %>
          <span class="dot">·</span>
          <%= "#{@user.comments_received} received" %>
        </div>
        <div class="stats-row">
          <i class="fas fa-thumbs-up"></i>
          <%= "#{@user.likes_given} likes given" %>
          <span class="dot">·</span>
          <%= "#{@user.likes_received} received" %>
        </div>
      </div>
    </div>
  </div>
  <div class="collection-summary">
    Showing <%= @user.projects.is_public.length %> of <%= pluralize(@user.projects.length, 'project') %>
  </div>
  <hr>
  <div class="project-card-collection">
    <% @user.projects.each do |project| %>
      <%= render 'projects/project_card', project: project %>
    <% end %>
  </div>
</section>