<section class="form">
  <h2>Change your password</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form| %>
    <%= form.hidden_field :reset_password_token %>
    <div class="field">
      <%= form.label :password, 'New passowrd' %><br>
      <% if @minimum_password_length %>
        (<%= @minimum_password_length %> characters minimum)
      <% end %><br>
      <%= form.password_field :password, autofocus: true, autocomplete: 'new-password', required: true %>
    </div>
    <div class="field">
      <%= form.label :password_confirmation, 'Confirm new password' %><br />
      <%= form.password_field :password_confirmation, autocomplete: 'new-password', required: true %>
    </div>
    <div class="actions">
      <%= form.submit 'Change my password', class: 'btn btn-primary' %>
    </div>
  <% end %>
</section>
