<div class="author-info">
  <%= link_to user_path(entity.user) do %>
    <div class="left">
      <%= image_tag url_for(entity.user.avatar), class: 'user-icon img-sm', alt: 'avatar' %>
    </div>
  <% end %>
  <div class="right">
    <%= link_to user_path(entity.user), class: 'author-info-link' do %>
      <div class="owner"><%= entity.user.full_name %></div>
    <% end %>
    <div class="subtext">
      <% if entity.created_at > 1.day.ago %>
        <div class="created-date" title="<%= entity.created_date %>" data-toggle="tooltip" tool-placement="bottom">
          <%= time_ago_in_words(entity.created_at) %> ago
        </div>
      <% else %>
        <div class="created-date">
          <i class="far fa-calendar-alt"></i> <%= entity.created_date %> 
          <i class="far fa-clock"></i> <%= entity.created_time %>
        </div>
      <% end %>
      <% if entity.class == Comment && entity.replaced_by.present? %>
        <div class="dot">·</div>
        <div class="edited author-info-link" title="Last edited at <%= newest_comment.created %>"
            data-comment_id="<%= entity.id %>" data-toggle="tooltip" data-placement="bottom">
          <i class="fas fa-history"></i>Edited
        </div>
      <% end %>
    </div>
  </div>
</div>