<div class="modal" data-modal="flag-modal" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Flag</h4>
        <span class="btn-close" data-close-modal="flag-modal">
          <i class="fas fa-times"></i>
        </span>
      </div>
      <section class="flag-modal form container">
        <%= form_with model: Flag.new do |f| %>
          <%= f.hidden_field :resource_type, required: true %>
          <%= f.hidden_field :resource_id, required: true %>
          <div class="field">
            <%= f.label :reason %>
            <%= f.text_area :reason, class: 'reason', required: true %>
          </div>
          <div class="actions">
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
