<nav class="main-nav">
  <div class="left-navbar">
    <%= link_to 'Agor Dawn', root_path, class: 'nav-logo btn btn-primary' %>
    <% unless current_user.nil? %>
      <%= render 'shared/search' %>
    <% end %>
  </div>
  <%= render 'shared/right_navbar' %>
</nav>

<div class="mobile-search hide">
  <%= render 'shared/search' %>
</div>

<%= javascript_pack_tag 'search' %>
