<div class="right-navbar">
  <% if current_user.nil? %>
    <%= link_to 'Sign In', new_user_session_path, class: 'nav-link link-primary' %>
    <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link btn btn-primary' %>
  <% else %>
    <div class="dropdown">
      <div class="dropdown-button link-primary">
        <%= image_tag url_for(current_user.avatar), class: 'user-icon img-sm', alt: 'avatar' %>
        <i class="fa fa-caret-down"></i>
      </div>
      <div class="dropdown-content">
        <%= link_to user_path(current_user), class: 'nav-link link-primary' do %>
          Profile <i class="fas fa-address-card"></i>
        <% end %>
        <%= link_to edit_user_registration_path, class: 'nav-link link-primary' do %>
          Settings <i class="fas fa-cog"></i>
        <% end %>
        <%= link_to destroy_user_session_path, method: 'delete', class: 'nav-link link-primary' do %>
          Sign Out <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
