<section class="home">
  <div class="header main-svg">
    <nav class="home-nav">
      <%= render 'shared/right_navbar' %>
    </nav>
    <h1 class="title">Agor Dawn</h1>
    <h3 class="subtitle">A platform boosting the commercialisation of projects from humanities and
      social sciences. Providing a space to foster collaboration and innovation.</h3>

    <div class="info-links">
      <a href="#" class="btn btn-secondary-2">About the project</a> 
      <a href="https://www.agorip.com/" class="btn btn-secondary-2">AgorIP</a>
      <a href="https://www.agorip.com/get-in-touch/" class="btn btn-secondary-2">Get in touch</a>
    </div>
  </div>
  <div class="container search-browse">
    <h3>Find your next collaboration today!</h3>
    <%= render 'shared/search' %>
    <p>or</p>
    <div class="browse-projects">
      <%= link_to 'Browse All Projects', projects_path, class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="projects-container">
    <h3>Recent Projects</h3>
    <hr>
    <%= render "projects/index" %>
  </div>
  
</section>

<%= javascript_pack_tag 'search' %>