<%= form_with model: @project do |form| %>
  <div class="field">
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :summary, 'Summary' %>
    (240 characters maximum) <br>
    <%= form.text_field :summary %>
  </div>
  <div class="field">
    <%= form.label :content, 'Content' %>
    <%= form.rich_text_area :content %>
  </div>
  <div class="field checkbox">
    <%= form.label :public, 'Public' %>
    <%= form.check_box :public %>
  </div>
  <% unless @last_unresolved_flag.user_resolved %>
    <hr>
    <div class="field checkbox">
      <%= form.label :flag_resolved, 'Flag Resolved' %>
      <%= form.check_box :flag_resolved %>
    </div>
    <div class="field">
      <%= form.label :flag_comment do %>
        Additional Flag Comments <small>- These comments will be shown to the admin team once you have marked the flag as resolved.</small>
      <% end %>
      <%= form.text_area :flag_comment %>
    </div>
  <% end %>
  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>