<section class="projects index" id="projects-index">
  <%= render 'shared/floating_btn' %>
  <div class="content">
    <div class="collection-summary">
      <% if params[:query].present? %>
        <%= "Search '#{params[:query]}' returned #{pluralize(@projects.count, 'result')}." %>
      <% else %>
        <%= "Showing #{@projects.count} of #{pluralize(@projects.count, 'project')}." %>
      <% end %>
      <div class="filter-row">
        <div class="filter-categories">
          <span class="category selected">Recent</span>
          <span class="category">Popular</span>
          <span class="category">Profiles</span>
        </div>
        <div class="filter-order">
          <span>Ascending</span>
        </div>
      </div>
    </div>
    <div class="project-card-collection">
      <% @projects.each do |project| %>
        <%= link_to project do %>
            <%= render 'projects/project_card', project: project %>
        <% end %>
      <% end %>
    </div>
  </div>
</section>