<div class="project-card">
  <div class="card-outer-1">
    <div class="card-outer-2">
      <div class="card-content">
        <h2 class="name"><%= locals[:project].name %></h2>
        <p class="summary"><%= locals[:project].summary %></p>
        <p class="owner"><%= locals[:project].user.first_name + ' ' + locals[:project].user.last_name %></p>
        <p class="created-date"><%= locals[:project].created_date %></p>
        <% unless locals[:hide_description].present? %>
          <div class="like-count">
            <% if @like.present? %>
              <%= link_to project_like_path(@project, @like), method: 'delete', class: 'btn btn-primary like' do %>
                <i class="fas fa-thumbs-down"></i>
              <% end %>
            <% else %>
              <% if user_signed_in? %>
                <%= link_to project_likes_path(@project), method: 'post', class: 'btn btn-primary like' do %>
                  <i class="fas fa-thumbs-up"></i>
                <% end %>
              <% else %>
                <%= link_to new_user_session_path, class: 'btn btn-primary like',
                            data: { confirm: 'To do this action you must login.' } do %>
                  <i class="fas fa-thumbs-up"></i>
                <% end %>
              <% end %>
            <% end %>
            <div class="count" title="<%= @liked_by %>" data-toggle="tooltip" data-placement="bottom" id="open_liked_modal">
              <%= @project.likes.count %>
            </div>
            <div class="trix-content"><%= locals[:project].content %></p></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if action_name == 'show'%>
  <%= render 'shared/liked' %>
<% end %>