<div class="project-card">
  <div class="card-outer-1">
    <div class="card-outer-2">
      <div class="card-content">
        <h2 class="name"><%= locals[:project].name %></h2>
        <p class="summary"><%= locals[:project].summary %></p>
        <p class="owner"><%= locals[:project].user.first_name + ' ' + locals[:project].user.last_name %></p>
        <p class="created-date"><%= locals[:project].created_date %></p>
        <% unless locals[:hide_description].present? %>
        <p class="like_count">
          Number of likes: <%= @numOfLikes %>
          <% if user_signed_in? %>
            <% if @project.liked?(current_user) %>
              <%= link_to "Unlike", unlike_path(@project), method: "delete", class: "fas fa-thumbs-down"%>
            <% else %>
              <%= link_to "Like", like_path(@project), method: "put", class: "fas fa-thumbs-up" %>
            <% end %>
          <% end %>
          <p class="description"><%= locals[:project].description %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>