<div class="project-card <%= project.public ? '' : 'private' %> <%= project.flagged? ? 'flagged' : '' %>">
  <div class="card-outer-1">
    <div class="card-outer-2">
      <div class="card-content">
        <% if controller_name == 'projects' && action_name == 'show' %>
          <div class="actions">
            <% if project.user == current_user %>
              <span class="public">
                <% if project.public %>
                  <i class="fas fa-eye"></i> Public
                <% else %>
                  <i class="fas fa-eye-slash"></i> Private
                <% end %>
              </span>
              <%= link_to edit_project_path, class: 'btn btn-primary' do %>
                <i class="fas fa-edit"></i> Edit
              <% end %>
            <% elsif current_user.admin %>
              <span class="flag link-primary" data-open-modal="flag-modal" data-resource-type="project" data-resource-id="<%= project.id %>">Flag <i class="fas fa-flag"></i></span>
            <% end %>
          </div>
        <% end %>
        <%= link_to project_path(project) do %>
          <div class="main">
            <% if controller_name == 'users' && action_name == 'show' && project.user == current_user && !project.public %>
              <span class="private-icon"><i class="fas fa-eye-slash"></i> Private</span>
            <% end %>
            <h2 class="name"><%= project.name %></h2>
            <p class="summary"><%= project.summary %></p>
          </div>
        <% end %>
        <% if controller_name == 'projects' && action_name == 'show' %>
          <%= project.content %>
        <% end %>
        <hr>
        <div class="footer">
          <%= render 'shared/author_info', entity: project %>
          <div class="stats">
            <p class="metadata"><%= project.view_count %> <i class="fas fa-eye"></i></p>
            <span class="dot">·</span>
            <p class="metadata metadata-likes"><%= project.like_count %> <i class="fas fa-thumbs-up"></i></p>
            <span class="dot">·</span>
            <p class="metadata"><%= project.comment_count %> <i class="fas fa-comments"></i></p>
          </div>
        </div>
        <% if controller_name == 'projects' && action_name == 'show' %>
          <div class="like-count">
            <div class="like-button link-primary">
              <% if @current_user_like %>
                <i title="Unlike" class="fas fa-thumbs-up"></i>
              <% else %>
                <i title="Like" class="far fa-thumbs-up"></i>
              <% end %>
            </div>
            <div class="count link-primary" title="<%= @tooltip %>" data-toggle="tooltip" data-placement="bottom" data-open-modal="liked-modal">
              <%= @project.likes.count %> likes
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
