<div class="project-card">
  <div class="card-outer-1">
    <div class="card-outer-2">
      <div class="card-content">
        <h2 class="name"><%= locals[:project].name %></h2>
        <p class="summary"><%= locals[:project].summary %></p>
        <p class="owner"><%= locals[:project].user.first_name + ' ' + locals[:project].user.last_name %></p>
        <p class="created-date"><%= locals[:project].created_date %></p>

        <% unless locals[:hide_description].present? %>
          <p class="content"<%= locals[:project].content %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>