<section class="projects edit">
  <% if @project.flagged? %>
    <div class="form container">
      <h2>Flag Information</h2>
      <p>Created: <%= @last_unresolved_flag.created %></p>
      <p>Last Updated: <%= @last_unresolved_flag.last_update %></p>
      <p>Comments Thus Far:<br><%= simple_format(@last_unresolved_flag.reason) %></p>
    </div>
  <% end %>
  <div class="form container">
    <h2>Edit Project</h2>
    <%= render 'form' %>
  </div>
  <div class="form container delete">
    <h2>Delete Project</h2>
    <div class="actions">
      <%= link_to project_path, method: :delete, class: 'btn btn-secondary-1', data: { confirm: 'Are you sure you want to delete this project?' } do %>
        <i class="fas fa-trash-alt"></i> Delete
      <% end %>
    </div>
  </div>
</section>