<section class="projects show">
  <%= render 'project_card', project: @project %>
  <div class="comments-section">
    <h2>Comments</h2>
    <hr>
    <%= render 'comments/comments' %>
    <% if user_signed_in? %>
      <div class="form container">
        <%= render 'comments/form' %>
      </div>
    <% else %>
      <p class="sign-in-comment">You must <%= link_to 'sign in', new_user_session_path %> to comment on this.</p>
    <% end %>
  </div>
</section>

<%= render 'shared/liked_modal' %>
<%= render 'shared/flag_modal' %>

<%= javascript_pack_tag 'modals' %>
<%= javascript_pack_tag 'likes' %>