<section class="flags index">
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Created by</th>
          <th scope="col">Admin Resolved</th>
          <th scope="col">User Resolved</th>
          <th scope="col">Resource</th>
        </tr>
      </thead>
      <tbody>
        <% @flags.each do |flag| %>
          <tr>
            <td>
              <%= flag.flaggable_type %>
            </td>
            <td>
              <%= flag.flagged_by.full_name %>
            </td>
            <td class="table-action">
              <%= flag.admin_resolved %>
            </td>
            <td class="table-action">
              <%= flag.user_resolved %>
            </td>
            <td class="table-action">
              <%= link_to root_path, class: 'link-primary' do %>
                <i class="fas fa-external-link-alt"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>