<section class="flags index">
  <h2 class="title-header">Flags <i class="fas fa-flag"></i></h2>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Author</th>
          <th scope="col">Type</th>
          <th scope="col">Flagged By</th>
          <th scope="col">User Resolved</th>
          <th scope="col">Admin Resolved</th>
          <th scope="col">Resource</th>
        </tr>
      </thead>
      <tbody>
        <% @flags.each do |flag| %>
          <tr>
            <td>
              <%= flag.flaggable.user.full_name %>
            </td>
            <td>
              <%= flag.flaggable_type %>
            </td>
            <td>
              <%= flag.flagged_by.full_name %>
            </td>
            <td class="table-action">
              <i class="fas fa-<%= flag.user_resolved ? 'check' : 'times' %>"></i>
            </td>
            <td class="table-action">
              <i class="fas fa-<%= flag.admin_resolved ? 'check' : 'times' %>"></i>
            </td>
            <td class="table-action">
              <% if flag.flaggable_type == 'Project' %>
                <%= link_to project_path(flag.flaggable), class: 'link-primary' do %>
                  <i class="fas fa-external-link-alt"></i>
                <% end %>
              <% elsif flag.flaggable_type == 'Comment' %>
                <%= link_to project_path(flag.flaggable.project), class: 'link-primary' do %>
                  <i class="fas fa-external-link-alt"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>